.sidenav {
  width: 25vh;
}

.Toolbar{
  height: 10vh;
}

a{
  text-decoration: none;
}



li{
  .Title{
    color :#000;
    font-family: 'Lobster' , cursive;
  }
  .Links{
    color: #000;
    font-size: 1.7rem;
    font-family: 'Lobster' , cursive;
  }
  :hover{
    color: #fff;
  }
}
.sidenav {
  .mat-toolbar {
    .mat-primary {
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }
}

