.sidenav {
  width: 25vh;
}

.Toolbar{
  height: 10vh;
}

a{
  text-decoration: none;
}

.Title{
  text-decoration: none;
  color :#000;
  font-family: 'Lobster' , cursive;
}

li{
  .Links{
    color: #fff;
    font-size: 1rem;
    
  }
  :hover{
    color: #000;
  }
}
.sidenav {
  .mat-toolbar {
    .mat-primary {
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }
}

