<div class="container">
    <button (click) = "switchClass()">Flex - inline</button>
    <div  [ngClass] = "{active:toggle}">
        <div class="Blogs">
            <img class="MainBlogImage" src="https://proforientator.ru/upload/img/publications/stati/zhurnalist2.jpg" alt="">
            <h2>The 20 Biggest Fintech Companies In America 2019</h2>
            <a href = "#" class="h5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, natus!</a>
        </div>
        <div class="Blogs">
            <img class="MainBlogImage" src="https://proforientator.ru/upload/img/publications/stati/zhurnalist2.jpg" alt="">
            <h2>The 20 Biggest Fintech Companies In America 2019</h2>
            <a href = "#" class="h5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, natus!</a>
        </div>        
    </div>
</div>
